html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  width: 100vh;
  height: 100vh;
}

.App {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.DayPicker {
  display: inline-block;
  font-size: 1.2rem;
}

.mute-icon {
  float: right;
  cursor: pointer;
  margin-right: 2em;
  width: 1.5rem;
  height: 1.5rem;
}

.picker-toggler,
.hand-right {
  float: left;
  margin-left: 2em;
}

.picker-toggler {
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.hand-right {
  margin-right: 5px;
}

.color-picker {
  float: left;
  height: 1.5rem;
}

.circle-picker {
  margin-right: 0 !important;
}
